/* TODO Add site wide styles */
.logo-front-page {
    height: 200px;
    width: 500px;
    margin-left: 600px;
}

.nav-bar-logo {
height: 10%;
width: 30%;
margin-left: 260px;

}

.breadcrumb {
    margin-left: 150px;
    margin-right: 100px;
}