.feed-div {
    overflow-y: auto;
    float:left;
    width:50%;
    height:calc(100vh - 40px);
}
.post-text {
    font-size: 12pt;
    margin-left: 40px;
    margin-right: 40px;

}

.post-comment-button {
    position: relative;
    padding: 15px;
    left: 10px;
    margin-left: 15px;
}

.post-comment-form {
    min-width: 75%;
}

.post-comment-div {
 display: flex;
 margin: 8px;
}

.post-text-area {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    resize: none;
}

.content-container {
   
}

.text-center {
    text-align: center;
}

.create-post-button {
    height: 40px;
    padding: 10px;
}

.right-side-container {
    height: calc(100vh - 40px);
    overflow-y: auto;
    float:left;
    width:50%;
}

.profile-row {
    display: flex;
}

.space-between {
    align-items: stretch;
}

.nav-bar {
    position: sticky;
    bottom: 10;
}

body {
    background-color: gainsboro;
}

.details-header {
    font-size: 18pt;
    margin: 10px
}

.details {
    font-size: 13pt;
    margin: 10px;
}

.details-sub {
    font-size: 15pt;
    margin-top: 0px;
    text-align: center;
}

.details-header-intro {
    font-size: 18pt;
    margin: 10px;
    text-align: center;
}

.details-age {
    font-weight: normal;
}

.details-description {
    font-size: 12pt;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 35px;
}

.detail-tags {
    font-size: 12pt;
    font-weight: normal;
    margin-left: 35px;
}
.details-description-intro {
    font-size: 14pt;
    font-weight: bold;
    counter-reset: count;
    margin-left: 40px;
}
.detail-tags::before {
    counter-increment: count;
    content: counter(count)") "
}

.details-warm_up_question {
    font-size: 14pt;
}

.details-header-warm_up{
    font-size: 18pt;
    text-align: center;
}
.profile_picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}